[
 {
  "k1" 1
  "k2" 2
  "k3" [
        {
         "k31" 101
         "k32" 102
         "k33" [
               {
                "k331" 103
                "k332" [
                       {"k3311" 1031}
                       {"k3311" 1032}
                       ]
                }
                {
                 "k331" 104
                 "k332" [
                        {"k3311" 1041}
                        {"k3311" 1042}
                        ]
                 }
               ]
         }
        {
         "k31" 201
         "k32" 202
         }]
  }
 {
  "k1" 11
  "k2" 21
  "k3" [
        {
         "k31" 1011
         "k32" 102
         }
        {
         "k31" 2011
         "k32" 2022
         }]
  }
 ]